.container {
  position: relative;
}


.pullout {
  position: fixed;
  top: 0;
  left: -400px;
  transition: left 0.5s ease-in-out;
  width: 400px;
  background-color: #100030;
  z-index: 999;
  overflow-y: auto;
  height: 100vh;
}

.content {
  color: #fbfbfc;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.pullout.open {
  left: 0;
}

/* For track */
.pullout::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.pullout::-webkit-scrollbar-track {
  background-color: #100030; /* Set the background color of the track */
}

/* For handle */
.pullout::-webkit-scrollbar-thumb {
  background-color: #fbfbfc; /* Set the color of the scrollbar handle */
  border-radius: 4px; /* Add a border radius to the handle */
}

.pullout::-webkit-scrollbar-thumb:hover {
  background-color: #c43fcf; /* Set the color of the scrollbar handle on hover */
}