.button-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 999;
}

.button {
  display: flex;
  background-color: #100030;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.5s;
}

.button svg {
  width: 24px;
  height: 24px;
}

.button.inactive {
  color: #fbfbfc;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.button.active {
  color: #c43fcf;
  transform: translateX(30vw);
  transition: transform 0.5s ease-in-out;
}
